<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>ònkà</name>

  <description>
    This is the app that discribe the interpretation of Number 1 to 100 in Yoruba Lang
  </description>

  <author href="http://joytune.org" email="joytunetech@gmail.com">
    Joytune Tech Solution
  </author>
  <icon src="images/icon.png" />
</widget>